＃禁止ワード
"馬鹿","バカ","死ね","シネ","おまえ","アホ","ボケ","カス","ハゲ","デブ","チビ","クソ",
,"消えろ","ぶさいく","おばさん","おばちゃん","おっさん","じじい","きもい","くさい","のろま","きっしょ","殺す",
,"ゴミ","しばくぞ","ファック","ポリエマンコビッチ","ビッチ","寝取り","ゴミカス","情弱","チー牛","シャラップ","黙れ","だまれ","脳みそある？","頭動いてる？","ファッキンユー",
,"しゃべるな","話しかけてくんなよ","","","","","","","","","",
,"","","","","","","","","","","","","","","","","","","","","","","","","","","","","","",
,"","","","","","","","","","","","","","","","","","","","","","","","","","","","","","",
,"","","","","","","","","","","","","","","","","","","","","","","","","","",,"","","","",
,"","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","",
,"","","","","","","","","","","","","","","","","","","","","",,"","","","","","","","","","",
,"","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","",
,"","","","","","","","","","","","","","","",,"","","","","","","","","","","","","","","","",
,"","","","","","","","","","","","","","","","","","","","","","","","","","","","","",
,"","","","","","","","","","","",,"","","","","","","","","","","","","","","","","","",
,"","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","",