＃禁止ワード
馬鹿、バカ、死ね、シネ、おまえ、アホ
ボケ
カス
ハゲ
デブ
チビ
クソ
消えろ
ぶさいく
おばさん
おばちゃん
おっさん
じじい
子供
きもい
くさい
のろま
無能
Fラン大学、高卒、中卒
結果出してから言ってくれ
おまえ、何歳だ、
おまえの存在が目障りだ
どれだけ迷惑かければ気が済むんだ
口答えするな
親も頭悪いんだろな
おまえの子供がかわいそうだ
やる気あるのか？
ふざけるな
おまえを信じた、俺がバカだった
もう辞めたら？
使えない
ダメ人間
役立たずなやつ
ちゃんと考えたのか？
まじめにやってる？
これ常識だから
さぼるな
どこまで教えないといけないの？
もっと働け
おまえの代わりはいくらでもいるぞ
逃げるのは簡単だ
言い訳するな、やれ

なんで早く会社来てるの？

何時間かかってるんだ、俺だったら10分で出来るわ

おまえ病気か？

もう転職しろよ

休みの日、勉強したことを報告しろ

よく入社できたな

言われたことだけやれ、余計なことするな

言葉づかい気をつけろよ

頭、大丈夫か？

こっち見るな

おまえ今までちゃんと勉強してきたか？

おまえ会社に貢献したことある？

面接のときの発言はうそだったのか？だまされたわ

次、ミスしたらブチ切れるぞ

先輩を見習え

女だからこの程度で済まされてることに感謝しろ

このままだと仕事まかせられないぞ

おまえ社内で評判悪いの知ってたか？

おまえのせいで、みんなイライラしてるぞ

レベルが低い

仕事が遅い

おまえより成長が遅いやつは見たことがない

もっと、がむしゃらにやれ

給料泥棒

頑張ってるやつと頑張ってないやつがいる

死ぬ気でやれ

契約とれるまで帰ってくるな

おまえ何回目だ、何回教えたらわかるんだ

前も言ったよね？

おまえは新卒以下だ（●●以下だ、●●の方が上だ）

社会人として常識だ

他社でも通用しない

休めると思うな

みんなやってるぞ、おまえ以外できてるぞ

そんなこともできないのか

恥ずかしいと思わないのか

おまえには出来ない

おまえには失望した

責任とれんのか

おまえのせいで会社は損失だ

おまえ以外みんな出来てるぞ

もう後がないぞ

失敗したらクビだ

小学校からやり直せ（●●からやり直せ）

おまえは楽でいいな

甘えるな

いつになったら出来るんだ

 もう帰るのか？
